.centered {
	text-align: center;
}

section {
	text-align: center;
}

section img {
	width: 70%;
	border-radius: 50px;
	min-width: 250px;
	margin-top: 25px;
}

.commercial {
	color: #eec802;
}

.concert-features {
	list-style: square;
	text-align: left;
	font-size: 2rem;
}

.concert-offer {
	margin-bottom: 25px;
}

.detailed {
	color: white;
}