.main-gallery {
	width: 90%;
}

img {
	width: 250px;
	height: 225px;
	padding-bottom: 25px;
}

nav img {
	padding-bottom: 0;
}

h4 {
	padding: 25px;
}

a {
	color: #DF7401;
}

a:hover {
	color: #eec802;
	transition: .5s ease-in-out;
	text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {
	.gallery-section img {
		height: 400px;
	}
}

@media (max-width: 500px) {
	.gallery-section img {
		height: 300px;
	}
}

@media (max-width: 400px) {
	.gallery-section img {
		height: 225px;
	}
}